<h1>
	New Entry for 
	<%= @project.name %>

</h1>

	<%= form_for([@project, @entry]) do |f| %>
		<%= f.label :hours %> 
		<%= f.text_field :hours %>
		<br>
		<%= f.label :minutes %> 
		<%= f.text_field :minutes %>
		<br>
		<%= f.label :date %> 
		<%= f.text_field :date %>
		<br>
		<button type="submit">Create New Entry</button>
	<% end%>